<template>
  <nav>
    <ul>
      <li><a href="#">IN THEATERS</a></li>
      <li><a href="#">COMING SOON</a></li>
      <li><a href="#">CHARTS</a></li>
      <li><a href="#">TV SERIES</a></li>
      <li><a href="#">TRAILERS</a></li>
      <li><a href="#">MORE</a></li>
    </ul>
  </nav>
  <Modal
    v-show="showModal"
    :closeModalDetailMovie="closeModalDetailMovie"
    :id="id"
    :objectMovie="objectMovie"
    :genres="genres"
  />

  <div class="container-cards">
    <div class="card" v-for="(card, i) in movies" :key="i">
      <img
        @click="openModalDetailMovie(card.id)"
        class="img-movie"
        :src="'https://image.tmdb.org/t/p/w400/' + card.poster_path"
        alt=""
      />
      <div class="card-content">
        <h2>{{ card.title }}</h2>
          <p>Lanzamiento:{{ card.release_date }}</p>
        <div class="content-review">
          <p><font-awesome-icon icon="heart" />{{ card.vote_average }}</p>
        </div>
        <div class="icon-triangulo">
          <h1>+</h1>
        </div>
        <div class="triangulo-top"></div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import IconUser from "../assets/icon-user.png";
import Modal from "../shared/modal/Modal.vue";

export default {
  name: "CardMovie",
  components: {
    Modal,
  },
  props: {
    msg: String,
  },
  data: () => {
    return {
      movies: [],
      iconUser: IconUser,
      showModal: false,
      id: 0,
      objectMovie: {},
      genres: [],
    };
  },

  created() {
    this.getMovies();
    this.getDetailMovie(this.id);
  },

  methods: {
    openModalDetailMovie(e) {
      this.showModal = true;
      this.id = e;
      this.getDetailMovie(this.id);
    },
    closeModalDetailMovie() {
      this.showModal = false;
    },

    getMovies: async function () {
      await axios
        .get(
          " https://api.themoviedb.org/3/movie/popular?api_key=4a48bbc6d73f2ceac252225dfe343a0d&language=en-US&page="
        )
        .then((response) => {
          this.movies = response.data.results;
        })
        .catch((error) => {
          console.log("There was an error: " + error);
        });
    },

    getDetailMovie: async function (id) {
      await axios
        .get(
          `https://api.themoviedb.org/3/movie/` +
            id +
            `?api_key=4a48bbc6d73f2ceac252225dfe343a0d`
        )
        .then((response) => {
          this.objectMovie = response.data;
      this.genres=response.data.genres;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
nav {
  display: grid;
  grid-column: -1;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
nav {
  display: flex;
  gap: 0rem;
  justify-content: center;
  background: #a2434300;
  margin-top: -75px;
}
nav .logo {
  font-size: 1.25rem;
  letter-spacing: 2px;
  line-height: 1;
  padding: 50px;
}
nav a {
  text-decoration: none;
  color: currentColor;
}
ul {
  justify-self: center;
  list-style: none;
  display: flex;
  gap: 0;
  background: white;
  height: 59px;
}
ul li {
  padding: 0.5rem;
  transition: all 150ms ease-in-out;
  transition-property: opacity, scale;
  line-height: 1;
  position: relative;
}
ul li a {
  padding: inherit;
  letter-spacing: 1px;
  color: #000000;
  text-decoration: none;
  font-family: system-ui, sans-serif;
}
.account {
  justify-self: end;
}

.container-cards {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f4f3f2;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .card {
    width: 100%;
    max-width: 280px;
    height: 480px;
    margin: 30px;
    position: relative;
    background-size: cover;
    background-position: top;
    transition: all 0.3s linear;
    overflow: hidden;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
  }
.card:hover{
		transform: translateY(20px)

}
  .card img.img-movie {
    width: 100%;
    height: 55vh;
    cursor: pointer;
  }

  .card-content {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0;
    transform: translateY(100%);
    transition: all 0.3s linear;
    .triangulo-top {
      margin: 0 230px;
      width: 0;
      height: 0;
      border-right: 0px solid transparent;
      border-top: 0px solid transparent;
      border-left: 50px solid transparent;
      border-bottom: 50px solid #e5bc00;
    }
    .icon-triangulo {
      display: flex;
      position: absolute;
      margin: 11px 257px;
      h1 {
        color: white;
        position: absolute;
        display: contents;
      }
    }
  }

  .card-content h2 {
    margin: 20px;
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
  }

  .card-content p {
    margin: 20px 20px 0;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
  }
  svg.svg-inline--fa.fa-heart {
    margin-right: 8px;
  }

  .card .card-content {
    transform: translateY(0);
  }
  .content-review {
    display: flex;
    position: inherit;
  }
}
</style>
