<template>
  <div class="container-footer">
    <div class="content-footer">
      <a class="logo"><img :src="imgLogo" alt="" /></a>
      <ul>
        <li>
          <a href="#"><img class="img-network" :src="iconTwitter" alt="" /></a>
        </li>
        <li>
          <a href="#"><img class="img-network" :src="iconFacebook" alt="" /></a>
        </li>
        <li>
          <a href="#"
            ><img class="img-network" :src="iconInstagram" alt=""
          /></a>
        </li>
      </ul>
      <div class="account">
        <h2>1990-2015 IMDB.COM.INC</h2>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from "../assets/logo-imdb.png";
import IconTwitter from "../assets/twitter.png";
import IconFacebook from "../assets/facebook.png";
import IconInstagram from "../assets/instagram.png";

export default {
  name: "FooterLayout",
  props: {
    msg: String,
  },
  data: () => {
    return {
      iconTwitter: IconTwitter,
      iconFacebook: IconFacebook,
      iconInstagram: IconInstagram,
      imgLogo: Logo,
    };
  },
};
</script>

<style lang="scss" scoped>
.container-footer {
  img {
    width: 50%;
  }
  .content-footer {
    display: grid;
    grid-column: -1;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .content-footer {
    display: flex;
    gap: 21rem;
  }
  .content-footer .logo {
    font-size: 1.25rem;
    letter-spacing: 2px;
    line-height: 1;
    padding: 50px;
  }
  .content-footer a {
    text-decoration: none;
    color: currentColor;
  }
  ul {
    justify-self: center;
    list-style: none;
    display: flex;
    gap: 0;
  }
  ul li {
    padding: 0.5rem;
    transition: all 150ms ease-in-out;
    transition-property: opacity, scale;
    line-height: 1;
    position: relative;
    height: 50px;
    width: 50px;
  }
  ul li a {
    padding: inherit;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
  }
  .account {
    h2 {
      font-size: 10px;
      padding: 78px;
      color: gray;
      text-align: center;
    }
  }
}
@media (max-width: 540px) {
  .container-footer .content-footer {
    display: block;
    gap: 0;
    .account h2 {
      padding: 10px;
    }
    ul {
      margin: 0;
    }
    ul li {
      height: 0px;
      width: 50px;
      margin-left: 28px;
    }
    .logo {
      display: none;
    }
  }
}
</style>
