<template>
  <div class="container-header">
    <nav>
      <a class="logo"><img class="img-logo" :src="imgLogo" alt="" /></a>
      <ul>
        <li><a href="#">MOVIES</a></li>
        <li><a href="#">PHOTOS</a></li>
        <li><a href="#">COMMUNITY</a></li>
        <li><a href="#">NEWS</a></li>
      </ul>
      <div class="account">
        <a href="#"><img :src="iconUser" alt="" /></a>
      </div>
    </nav>
    <main>
      <h1>THE MARTIAN</h1>
      <ul class="">
        <li><a href="#">ADVENTURE</a></li>
        <li><a href="#">SCI-FI</a></li>
        <li><a href="#">THRILLER</a></li>
      </ul>
      <div class="bottom-info">
        <a href="" class="watch">Watch Trailer</a>
      </div>
    </main>
  </div>
</template>

<script>
import Logo from "../assets/logo-imdb.png";
import IconUser from "../assets/icon-user.png";
export default {
  name: "HeaderLayout",
  props: {
    msg: String,
  },
  data: () => {
    return {
      imgLogo: Logo,
      iconUser: IconUser,
    };
  },
};
</script>

<style  lang="scss" scoped>
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
.container-header {
  color: white;
  grid-template-rows: 3.5rem 1px 1fr;
  grid-template-columns: repeat(0, 1fr);

  font-family: system-ui, sans-serif;
  min-height: 100vh;
  background-image: url("../assets/background-header.jpg");
  background-size: cover;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: calc(2px + 2ex + 2px);
  }
  img.img-logo {
    width: 100%;
  }
  img {
    width: 50%;
  }
  nav {
    display: grid;
    grid-column: -1;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  nav {
    display: flex;
    gap: 21rem;
  }
  nav .logo {
    font-size: 1.25rem;
    letter-spacing: 2px;
    line-height: 1;
    padding: 50px;
  }
  nav a {
    text-decoration: none;
    color: currentColor;
  }
  ul {
    justify-self: center;
    list-style: none;
    display: flex;
    gap: 0;
  }
  ul li {
    padding: 0.5rem;
    transition: all 150ms ease-in-out;
    transition-property: opacity, scale;
    line-height: 1;
    position: relative;
  }
  ul li a {
    padding: inherit;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
  }
  ul li a:hover {
    color: #e5bc00;
  }

  .account {
    justify-self: end;
  }

  main {
    align-self: center;
    grid-column: -1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 200px;
  }
  .bottom-info {
    display: block;
    margin-top: 30px;
  }

  .watch {
    background: #e5bc00;
    padding: 14px 20px;
    font-size: 22px;
    border-radius: 22px;
    text-transform: capitalize;
    color: #1f1d1d;
    letter-spacing: 1.3px;
    margin-right: 25px;
    cursor: pointer;
    position: relative;
    top: 8px;
    text-decoration: none;
  }

  .watch:before {
    content: "▶";
    color: #1f1d1d;
    position: relative;
    top: 0px;
    display: inline-block;
    width: 50px;
    height: 20px;
    font-size: 15px;
    left: 10px;
  }

  h1 {
    font-size: clamp(1.5rem, 4vw, 3.5rem);
  }
  p {
    max-width: 45ch;
    font-size: clamp(1rem, 4vw, 1.25rem);
  }
}

@media (max-width: 540px) {
.container-header{
  
  nav {
    display: flex;
    gap: 0rem;
    padding: 30px 2px 2px 13px;
  }
  main {
    padding: 40px;
  }
  nav .logo {
    padding: 0;
  }
  ul {
    font-size: 12px;
  }
}
}
</style>
