<template>
  <Header/>
  <Card/>
  <Footer/>
</template>

<script>
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'
import Card from './components/Card.vue'

export default {
  name: 'App',
  components: {
    Header,
    Footer,
    Card
  }
}
</script>

<style>
body{
  margin: 0;
}

</style>
